.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}
.todolist {
  background-color: cadetblue;
  border: 2px solid darkslategrey;
  border-radius: 5px;
  padding: 15px;
}

.todolistTitle {
  display: flex;
  justify-content: space-between;
}

.task {
  font-weight: bold;
}

.task-done {
  text-decoration: line-through;
  opacity: 0.5;
}

.filter-btn-active {
  background-color: chocolate;
  color: white;
  font-weight: bold;
  border-radius: 3px;
  border: 2px solid  chocolate;
}

.input-error {
  border: 2px solid red;
  outline: none;
}

.error-message {
  color: red;
}